body {
  background-color: rgb(198, 56, 162);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

p {
  text-align: center;
  font-family: roboto;
  font-size: 20px;

}

h3 {
  text-align: center;

}

.displayBlock{
  display: block;
}
.displayNone{
  display: none;
}

#story {
  width: 40%;
  height: 40%;

}

#warning { background-color: rgb(250, 242, 101);}

.bgBlue {background-color: rgb(161, 250, 244);}
#inputPanel{
  background-image: url(words.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#outputPanel{
  background-color: rgba(16, 70, 135,.2);
  border-style: dotted;
  border-color: black;
}

#theStory {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: auto; 50%;
  font-family: roboto;
  font-size: 20px;
}



#submit, #again {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: rgb(163, 45, 204);
}
