body {
  background-image: url(words.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

#story {
  width: 50%;
  height: 50%;
}

#submit, #again {
  margin: 0 auto;
  display: block;
  text-align: center;
}
