body {
  background-image: url(words.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  text-align: center;
  font-family: roboto;
  font-size: 20px;

}

h3 {
  text-align: center;
}

.displayBlock{
  display: block;
}
.displayNone{
  display: none;
}

#story {
  width: 40%;
  height: 40%;

}

#theStory {
  margin: 0 auto;
  display: block;
  text-align: center;
}

#submit, #again {
  margin: 0 auto;
  display: block;
  text-align: center;
}
